<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Chklogin</servlet-name>
    <servlet-class>com.control.Chklogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Newsmanage</servlet-name>
    <servlet-class>com.control.Newsmanage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.control.Update</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Doupdate</servlet-name>
    <servlet-class>com.control.Doupdate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.control.Delete</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>News</servlet-name>
    <servlet-class>com.control.News</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deletenew</servlet-name>
    <servlet-class>com.control.deletenew</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Publish</servlet-name>
    <servlet-class>com.control.Publish</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>Chklogin</servlet-name>
    <url-pattern>/Chklogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Newsmanage</servlet-name>
    <url-pattern>/Newsmanage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Doupdate</servlet-name>
    <url-pattern>/Doupdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>News</servlet-name>
    <url-pattern>/News</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deletenew</servlet-name>
    <url-pattern>/deletenew</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Publish</servlet-name>
    <url-pattern>/Publish</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
